/*
{
    border: 1px solid red;
}*/
@font-face
{
    font-family: Peas-Carrots;

    src: url('./font/Peas & Carrots/Peas & Carrots.ttf');
}
@font-face
{
    font-family: Oranges;

    src: url('./font/Orange Juice/orange juice.ttf');
}
html,
body
{
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;

    color: white;
}
a:hover
{
    color: #ff4f99;
}
.about{
color:#fff;
background-color:#565155;
padding:6%;

}
.container
{
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.jumbotron
{
    height: 800px;

    background: url(img/apple-iphone-desk-office.jpg) no-repeat center center;
    background-size: cover;
}
header
{
    background-color: #333;
}
.nav
{
    margin: 0;
    padding: 20px 0;

    list-style-type: none;
}
.nav li
{
    font-family: 'Peas-Carrots', sans-serif;
    font-size: 20px;
    font-weight: 600;

    display: inline;

    margin-right: 25px;

    text-transform: uppercase;

    color: #fff;
}
.main
{
    position: relative;
    top: 180px;

    text-align: center;
}
.main h1
{
    font-family: Oranges, sans-serif;
    font-size: 80px;
    font-weight: 600;

    margin-top: 0;
    margin-bottom: 80px;

    text-transform: uppercase;

    color: #fff ;
}
.btn-primary
{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;

    display: none;

    padding: 16px 40px;

    text-decoration: none;
    letter-spacing: 1.3px;
    text-transform: uppercase;

    color: #fff;
    /*border-radius: 50%;*/
    background-color: #ff0097;
}
.btn-default
{
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    font-weight: 600;

    display: inline-block;

    margin-bottom: 20px;
    padding: 10px 20px;

    text-decoration: none;
    letter-spacing: 1.3px;
    text-transform: uppercase;

    color: #333;
    border: 1px solid #333;
}
@media (min-width:720px)
{
    .btn-default
    {
        padding: 15px 50px;
    }
}
.supporting
{
    padding-top: 80px;
    padding-bottom: 100px;
}
.supporting .col
{
    font-family: 'Raleway', sans-serif;

    float: left;

    width: 33%;

    text-align: center;
}
.supporting img
{
    height: 32px;
}
.supporting h2
{
    font-size: 23px;
    font-weight: 600;

    text-transform: uppercase;
}
.supporting p
{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    margin-bottom: 40px;
    padding: 0 50px;
}
.clearfix
{
    clear: both;
}
footer
{
    padding: 30px 0;

    color: #fff;
    background-color: #333;
}
footer p
{
    font-family: 'Raleway', sans-serif;
    font-size: 11px;

    text-transform: uppercase;
}
@media (max-width: 500px)
{
    .main h1
    {
        font-size: 50px;

        padding: 0 40px;
    }
    .supporting .col
    {
        width: 100%;
    }
}
