/**/
/* Define the page body */
body
{
    font-family: monospace;

    overflow-x: hidden;

    width: 100%;
    height: 100%;

   /* background: url('img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;*/
}
/* first column side */

#left
{
    float: left;

    width: 135px;
    padding: 40px 0 0 40px;
}

/* logo style */

#logo
{
    /*position: relative;*/

    width: 135px;
    height: 135px;

    background: #43333D;
}
/* log and image set */
#logo img
{
    position: relative;

    display: block;

    margin: 0 auto;
    padding-top: 38px;
}

/**/

/**/

/**/
/**/
/**/
nav
{
    margin-top: 150px;
}

ul
{
    margin: 0;
    padding: 0;

    list-style-type: none;

    text-align: right;
}

.link
{
    position: relative;
}

li
{
    padding: 10px 0 20px 0;
    font-size: 24px;
    border-bottom: 1px solid red;
    border-radius:5%;
    margin-bottom:10px;
}

li a
{
    text-decoration: none;
    position:center;
    color: red;
}
/* Second column side wgich is the main */

main
{
 float: left: ;
 margin: 45px 0 0 150px;
}


