/**/
/* Define the page body 
*
{
    border: 1px solid red;
}
*/
body
{
    font-family: monospace;

    position: relative;

    overflow-x: hidden;

    width: 100%;
    height: 100%;

    background-color: #d8c4ab ;
}
/* first column side */

#projects
{
    margin: auto;
    padding: 20%;

    border: 1px solid red;
}

#about
{
    margin: auto;
    padding: 20%;

    border: 1px solid red;
}

#contact
{
    margin: auto;
    padding: 20%;
    border: 1px solid red;
}
#left
{
    float: left;
    width: 135px;
    padding: 40px 0 0 40px;
}

/* @media screen and (min-width: 28.75em)
{
    #projects
    {
        width: 33.3333333%;
    }
    #about
    {
        width: 33.3333333%;
    }
    #contact
    {
        width: 33.3333333%;
    }
}
@media screen and (min-width: 40.5em) {
    #projects
    {
        width: 16.6666667%;
    }
    #about
    {
        width: 16.6666667%;
    }
    #contact
    {
        width: 16.6666667%;
    }
}
logo style */

#logo
{
    /*position: relative;*/
    width: 135px;
    height: 135px;

    background: #43333d;
}
/* log and image set */
#logo img
{
    position: relative;

    display: block;

    margin: 0 auto;
    padding-top: 38px;
}



nav
{
    margin-top: 150px;
}

ul
{
    margin: 0;
    padding: 0;

    list-style-type: none;

    text-align: right;
}

.link
{
    position: relative;
}

li
{
    font-size: 24px;

    margin-bottom: 10px;
    padding: 10px 0 20px 0;

    border-bottom: 1px solid red;
    border-radius: 5%;
}

li a
{
    position: center;

    text-decoration: none;

    color: red;
}
/* Second column side wgich is the main */

main
{
    float: left: ;

    margin: 45px 0 0 150px;
}
